h1 {
  color: whitesmoke;
  background-color: darkseagreen;
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 400;
  font-style: normal;
}

h2{
    color: #FAF8F1;
    background-color: #C58940;
}
body{
    background-color: antiquewhite;
}

p{
    color: red;
}
.note{
    font-size: 20px;
}
#id-selector-demo{
    color: green;
}
li[value="4"]{
    color: blue;
}
.caja{
    width: 200px;
    height: 200px;
    background-color: powderblue;
}
*{
    text-align: center;
}